@charset "UTF-8";

:root{
    --cor1: rgb(187, 73, 73);
    --cor2: rgb(35, 48, 145);
    
    --fonte: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#titulo1{
    text-align: center;
    color: rgb(35, 48, 145);
    font-family: var(--fonte);
}

.titulo2{
    text-align: right;
    color: var(--cor2);
}

.titulo3{
    text-align: left;
    color: var(--cor1);
}

#titulos{
    text-align: left;
    color:  rgb(187, 73, 73);
    font-family: var(--fonte);
}

#texto{
    text-align: justify;
}